@model BusinessManagementSystem.Dto.UserDto
<h4>Edit</h4>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Users">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-12">
        <div class="card card-outline card-dark">
            <div class="card-header">
                <h3 class="card-title">General Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="ProfilePictureLink" class="control-label"></label>
                        <input asp-for="ProfilePictureLink" class="form-control" type="file" />
                        @if (!string.IsNullOrEmpty(Model.ProfilePictureLink))
                        {
                            <div><a href="~/@Model.ProfilePictureLink" target="_blank">View</a></div>
                        }
                    </div>
                    <div class="col-md-4">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Occupation" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Occupation, (SelectList)ViewBag.OccupationList, "Select an Occupation", new { @class = "form-control" })
                        <span asp-validation-for="Occupation" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control">
                            <option value="true">Active</option>
                            <option value="false">In Active</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="RoleId" class="control-label"></label>
                        @Html.DropDownList("RoleId", ViewData["RoleList"] as SelectList, new { @class = "form-control" })
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" asp-for="UserId" />
            
        </div>
        
    </div>
    <div class="col-md-12">
        <div class="card card-outline card-dark">
            <div class="card-header">
                <h3 class="card-title">Other Information</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="FacebookLink" class="control-label"></label>
                        <input asp-for="FacebookLink" class="form-control" />
                        <span asp-validation-for="FacebookLink" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="InstagramLink" class="control-label"></label>
                        <input asp-for="InstagramLink" class="form-control" />
                        <span asp-validation-for="InstagramLink" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TiktokLink" class="control-label"></label>
                        <input asp-for="TiktokLink" class="form-control" />
                        <span asp-validation-for="TiktokLink" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Skills" class="control-label"></label>
                        <textarea asp-for="Skills" class="form-control"></textarea>
                        <span asp-validation-for="Skills" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Notes" class="control-label"></label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="submit" value="Update" class="btn btn-success my-button" />
        </div>
    </div>
</form>